.container {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-button,
.right-button {
  padding: 40px 20px;
  background-color: transparent;
  color: rgb(212, 212, 212);
  transition: color 0.5s;
  
}

.left-button:hover,
.right-button:hover {
  cursor: pointer;
  color: rgb(253, 126, 126);
}

.swiperslide {
  max-width: 80%;
}

@media screen and (max-width: 1300px) {

    .left-button, .right-button{
        display: none;
    }

}
@media screen and (max-width: 768px) {
    


}