.ba {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swiper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-label, .pages{
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(253, 126, 126);
}
.input-label, .pages{
    margin: 10px 5px;
    
}

.input{
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid rgb(253, 126, 126);
    border-radius: 10px;
    color: rgb(253, 126, 126);
}

.left-button,
.right-button {
  padding: 40px 20px;
  background-color: transparent;
  color: rgb(212, 212, 212);
  transition: color 0.6s;
  
}

.left-button:hover,
.right-button:hover {
  cursor: pointer;
  color: rgb(253, 126, 126);
}

.swiperslide {
  max-width: 60%;
  opacity: 1.0;
}

.slideAnimation{
    animation: slideAnimation 0.6s ease-in-out;
}

@keyframes slideAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.small-screen{
    display: none;
}

@media screen and (max-width: 1300px) {
    .container{
        padding: 50px 0px;
    }

    .left-button, .right-button{
        display: none;
    }
    .swiperslide{
        max-width: 80%;
    }
    .small-screen{
        display: block;
    }


}
@media screen and (max-width: 768px) {
    


}