.portfolio {
    justify-content: flex-start;
    align-items: flex-start;
}

.right {
    align-self: flex-end;
}

@media screen and (max-width: 1300px) {
    .portfolio {
        justify-content: center;
        align-items: center;
    }
    .right {align-self: center;}
}
