.accordion {
  width: 1200px;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
  letter-spacing: 2px;
}

.first-p-summary {
  font-weight: bold;
  font-size: x-large;
  color: rgb(253, 126, 126);
}

.sec-p-summary {
  color: rgb(212, 212, 212);
  font-size: large;
}

.details-accordion {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.text-accordion {
  color: rgb(212, 212, 212);
}

.skills-accordion {
  display: flex;
  justify-content: space-between;
}

.skills-card {
  width: 200px;
  border: 2px solid rgb(212, 212, 212);
  padding: 0px 10px;
  margin: 20px 0px;
  background-color: black;
  color: rgb(253, 126, 126);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: rgb(212, 212, 212);
}
a:hover {
  color: rgb(236, 236, 236);
}

@media screen and (max-width: 1300px) {
  .accordion {
    width: 600px;
  }
  .skills-accordion {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .accordion {
    width: 300px;
  }
  .first-p-summary {
    font-size: medium;
  }
  .sec-p-summary {
    font-size: small;
  }
}
